<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FreightForwarder.Upgrade.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <FreightForwarder.Upgrade.Properties.Settings>
      <setting name="UpdateUrl" serializeAs="String">
        <value>UpdateService.svc/basic</value>
      </setting>
      <setting name="ExecutablePath" serializeAs="String">
        <value>FreightForwarder.exe</value>
      </setting>
      <setting name="NotifyUrl" serializeAs="String">
        <value>Login.aspx</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>http://upgrade.s5.jutuo.net/</value>
      </setting>
    </FreightForwarder.Upgrade.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUpdateService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://upgrade.s5.jutuo.net/UpdateService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateService"
        contract="FFUpgrade.Service.IUpdateService" name="BasicHttpBinding_IUpdateService" />
    </client>
  </system.serviceModel>
</configuration>
