FreightForwarder.Client.pdb
FreightForwarder.Client.vshost.exe
FreightForwarder.Client.vshost.exe.config
FreightForwarder.Client.vshost.exe.manifest
FreightForwarder.Common.dll
FreightForwarder.Common.pdb
FreightForwarder.Data.dll

FreightForwarder.Data.pdb
FreightForwarder.Domain.dll
FreightForwarder.Domain.pdb
FreightForwarder.Server.exe
FreightForwarder.Server.exe.config
FreightForwarder.Server.pdb
FreightForwarder.Server.vshost.exe
FreightForwarder.Server.vshost.exe.config
FreightForwarder.Server.vshost.exe.manifest
ICSharpCode.SharpZipLib.dll
NPOI.dll
20140224
20140225
20140226
log4net.dll

DesignTimeResolveAssemblyReferencesInput.cache
FreightForwarder.Business.csproj.FileListAbsolute.txt
FreightForwarder.Business.csprojResolveAssemblyReference.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DesignTimeResolveAssemblyReferencesInput.cache
FreightForwarder.Common.csproj.FileListAbsolute.txt
FreightForwarder.Common.csprojResolveAssemblyReference.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FreightForwarder.Data.dll.config
DesignTimeResolveAssemblyReferencesInput.cache
FreightForwarder.Data.csproj.FileListAbsolute.txt
FreightForwarder.Data.csprojResolveAssemblyReference.cache
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FreightForwarder.Domain.dll.config
DesignTimeResolveAssemblyReferencesInput.cache
FreightForwarder.Domain.csproj.FileListAbsolute.txt
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DesignTimeResolveAssemblyReferences.cache
DesignTimeResolveAssemblyReferencesInput.cache
FreightForwarder.ContainerForm.resources
FreightForwarder.Server.AddCompanyForm.resources
FreightForwarder.Server.FormProgressBar.resources
FreightForwarder.Server.FrmProgres.resources
FreightForwarder.Server.FrmRegCodeViewer.resources
FreightForwarder.Server.FrmSoftInfo.resources
FreightForwarder.Server.FrmStart.resources
FreightForwarder.Server.FrmUnStateProgressBar.resources
FreightForwarder.Server.FrmUserRegister.resources
FreightForwarder.Server.MainForm.resources
FreightForwarder.Server.Properties.Resources.resources
FreightForwarder.Server.RegCodeForm.resources
FreightForwarder.Server.csproj.FileListAbsolute.txt
FreightForwarder.Server.csproj.GenerateResource.Cache
FreightForwarder.Server.csprojResolveAssemblyReference.cache
Properties.Resources.Designer.cs.dll
Service References.FFWCF.Reference.cs.dll
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FrightForwarder.WCF.dll
FrightForwarder.WCF.pdb
DesignTimeResolveAssemblyReferencesInput.cache
FreightForwarder.WCF.csproj.FileListAbsolute.txt
FreightForwarder.WCF.csprojResolveAssemblyReference.cache
FrightForwarder.WCF.dll
FrightForwarder.WCF.pdb
TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs

FreightForwarder.Client.FormProgressBar.resources
FreightForwarder.Client.FrmAddCompany.resources
FreightForwarder.Client.FrmContainer.resources
FreightForwarder.Client.FrmMain.resources
FreightForwarder.Client.FrmProgres.resources
FreightForwarder.Client.FrmRegCode.resources
FreightForwarder.Client.FrmRegCodeViewer.resources
FreightForwarder.Client.FrmSoftInfo.resources
FreightForwarder.Client.FrmStart.resources
FreightForwarder.Client.FrmUnStateProgressBar.resources
FreightForwarder.Client.FrmUserRegister.resources
FreightForwarder.Client.Properties.Resources.resources
FreightForwarder.Client.csproj.FileListAbsolute.txt
FreightForwarder.Client.csproj.GenerateResource.Cache
FreightForwarder.Client.csprojResolveAssemblyReference.cache

FreightForwarder.Server.FrmAddCompany.resources
FreightForwarder.Server.FrmContainer.resources
FreightForwarder.Server.FrmMain.resources
FreightForwarder.Server.FrmRegCode.resources

FrightForwarder.WCF/Properties/PublishProfiles/web.pubxml.user
EntityFramework.dll
EntityFramework.xml
FreightForwarder.Business.dll
FreightForwarder.Business.pdb
EntityFramework.SqlServer.dll
EntityFramework.SqlServer.xml
FreightForwarder.Client.exe
FreightForwarder.Client.exe.config
20140228
FreightForwarder.Client.FrmBack.resources
FreightForwarder.Domain.csprojResolveAssemblyReference.cache
build.force
web.pubxml
FFService.svc
Web.config
packages.config
_WPPLastBuildInfo.txt

FreightForwarder.exe
FreightForwarder.exe.config
FreightForwarder.pdb
FreightForwarder.vshost.exe
FreightForwarder.vshost.exe.config
20140227
20140301
FreightForwarder.exe
FreightForwarder.exe.config
FreightForwarder.pdb
FreightForwarder.vshost.exe
FreightForwarder.vshost.exe.config
FreightForwarder.vshost.exe.manifest
20140301
FreightForwarder.UI.Winform.FormProgressBar.resources
FreightForwarder.UI.Winform.FrmAboutUs.resources
FreightForwarder.UI.Winform.FrmAddCompany.resources
FreightForwarder.UI.Winform.FrmBack.resources
FreightForwarder.UI.Winform.FrmContainer.resources
FreightForwarder.UI.Winform.FrmMain.resources
FreightForwarder.UI.Winform.FrmProgres.resources
FreightForwarder.UI.Winform.FrmRegCode.resources
FreightForwarder.UI.Winform.FrmRegCodeViewer.resources
FreightForwarder.UI.Winform.FrmSoftInfo.resources
FreightForwarder.UI.Winform.FrmStart.resources
FreightForwarder.UI.Winform.FrmUnStateProgressBar.resources
FreightForwarder.UI.Winform.FrmUserRegister.resources
FreightForwarder.UI.Winform.Properties.Resources.resources
FreightForwarder.exe
FreightForwarder.pdb
FreightForwarder.UI.Winform.FormProgressBar.resources
FreightForwarder.UI.Winform.FrmAboutUs.resources
FreightForwarder.UI.Winform.FrmAddCompany.resources
FreightForwarder.UI.Winform.FrmBack.resources
FreightForwarder.UI.Winform.FrmContainer.resources
FreightForwarder.UI.Winform.FrmMain.resources
FreightForwarder.UI.Winform.FrmProgres.resources
FreightForwarder.UI.Winform.FrmRegCode.resources
FreightForwarder.UI.Winform.FrmRegCodeViewer.resources
FreightForwarder.UI.Winform.FrmSoftInfo.resources
FreightForwarder.UI.Winform.FrmStart.resources
FreightForwarder.UI.Winform.FrmUnStateProgressBar.resources
FreightForwarder.UI.Winform.FrmUserRegister.resources
FreightForwarder.UI.Winform.Properties.Resources.resources
FreightForwarder.UI.Winform.csproj.FileListAbsolute.txt
FreightForwarder.UI.Winform.csproj.GenerateResource.Cache
FreightForwarder.UI.Winform.csprojResolveAssemblyReference.cache
FreightForwarder.exe
FreightForwarder.pdb
