body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
}

#photos {
    width: 10.2cm;
    height: 15.2cm;
}

.photo {
    border: dashed 1px #000;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.type1 {
    margin: 0.65cm;
    width: 8.8cm;
    height: 6cm;
}

.type2 {
    width: 2.5cm;
    height: 3.5cm;
    float: left;
    margin: 0.3cm;
}

.preview_image {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}
