body {
    font-size: 9pt;
    margin: 1em;
    padding: 0px;
}

.preview {
    width: 10.2cm;
    height: 15.2cm;
    margin: 0px;
    float: left;
}

.workarea {
    margin-left: 10.8cm;
}

fieldset {
    width: 300px;
    float: left;
    margin: 0px 10px 10px 0px;
}

.command a.button {
    position: absolute;
    right: 18px;
    top: 20px;
    width: 200px;
}

.hidden {
    display: none;
}