html{
    overflow-x:hidden;
    overflow-y:auto;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9pt;
	cursor: default;
	margin: 0px 1em 1em 1em;
}

a:link, a:visited {
	color: #1896C6;
	text-decoration: none;
	line-height: 2em;
}
a:hover {
	text-decoration: underline;
}

.header {
	border: solid 1px #C6DBEF;
	border-top: none;
	padding: 0.5em;
	background: #dfeffc url(../image/ui-bg_highlight-soft_100_deedf7_1x100.png) repeat-x scroll 50% 50%;
}

.content {
	border: solid 1px #C6DBEF;
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;
}
.content td {
	border: solid 1px #C6DBEF;
	padding: 1em;
}

.note ul {
	margin: 0px;
	list-style: none;
}
.note ul li {
	border-bottom: dashed 1px #C6DBEF;
}
.note .title {
	color: red;
}
.note .title a {
	color: red;
}
.note h3 {
	color: #1C94C4;
	text-align: center;
	margin-top: 0.5em;
}
.note p {
	line-height: 1.7em;
	margin: 0.5em;
	padding: 0px;
	text-indent: 2em;
}

.info {
	width: 200px;
}
.info .title {
	font-weight: bold;
	color: #1C94C4;
}
.info .data {
	text-align: right;
	margin-bottom: 1em;
}
.info p {
	margin: 0px;
}
.info ul {
	margin: 0px 0px 0px 2em;
}
.info ul li {
	line-height: 1.5em;
	margin: 0px;
}